// VARIOUS VARIABLES, which not match with other components
// IMPORTS, don't change the order of imports, because they are depends another
@import "gluonsVariables";
@import "../../imeji/sass/_combinedNewStyle.scss";

html body {
	.imj_allContentWrapper{
		background-color: $color-10;
	}
	
	.imj_topHeader{
		background-image: url('../backgrounds/rect_blue_long.png');
		background-size: cover;
		
		.imj_logo {
			background-color: transparent;
			background-size: auto 6em;
			width: 17em !important;
		}
		
		a, .imj_selectionText{
			color: $color-19 !important;
		}
		
		input{
			color: #fff !important;
		}
		
		.imj_menuSimpleSearch{
			a{
				 color: $color-19 !important;
			}
		}
		
		.imj_simpleSearchInput{
			border-color: $color-19 !important
		}
		
		.imj_metaMenuStandardSingleLine{
			input{
				color: #fff !important;
				&:focus{
					border-color: $color-05! important;
				}
			}
			
		}	
		.imj_siteHeaderMenuSearchSection{
			background-color: transparentize($color-04, 0.3) !important;
			.imj_active {
				background-color: $color-19 !important;
				a {
					color: $color-04 !important;
				}
			}
		}
	}
	
	.imj_logoContainer{
		background-color: transparent !important;
	}
	.imj_navigation{
		margin-top: 0;
		padding-top :0;
		padding-left: 0;
		border-bottom: none;
		a{
			color: $color-19;
		}
		.imj_active{
			background-color:$color-19 !important;
			border: none;
			a{
				color: $color-20;
			}
		}	
	}
	
	.imj_mainContentWrapper, #imj_welcomeInfoWrapper{
		min-height: calc(80vh - #{$header-height} - #{$footer-height});
	}
	
	#imj_welcomeInfoWrapper{
	    margin-top: $page-padding;
		background-image: url('../backgrounds/start_background3.jpg');
		background-size: cover;
		box-sizing: border-box;
		
		.gluons_startpage_div{
			background-color: rgba(#fff, 0.7);
			width: 40%;
			padding: 0.3em 1em 0.3em 1em;
			margin: 1%;
			box-sizing: border-box;
			@media screen and (max-width: $full-width-view ) {
				width: 60%;
			}
			@media screen and (max-width: $mobile-view) {
				width: 95%;
			}	
		}
		.gluons_startpageHeadline{
			font-size: 1.5em;
			font-weight: bold;
		}
	}
	

	.imj_active {
		background-color: $color-03 !important;
		a {
			color: $color-10;
		}
	}
	
	#registerArea .imj_registerSteps .imj_active {
		background-color: $color-10 !important;
	}
	
	
	.imj_siteFooter{
		background-image: url('../backgrounds/rect_blue_footer.png');
		background-size: cover;
		background-position: right top;
		color: #fff;
		margin-top: -30px;
		.imj_poweredby_software{
			float:right;
		}
		.imj_poweredby_institution {	
			float:left;
			margin-top: ($footer-padding + $footer-height) - 85px !important;
			background-color: #e4e4e4;
			border-top-right-radius: 30px;
			margin-left: 2%;
			height: 85px;
			width: 215px;
			a{
				img{
					display:none;
				}
				background-image: url("https://www.mpdl.mpg.de/templates/mpdl/images/mpdl-logo@2x.png");
				margin-left: 3px;
				margin-top: 30px;
				background-repeat: no-repeat;
				background-size: 175px 48px;
				display: inline-block;
				height: 48px;
				width: 175px;
			}
		}
	}
	
	textarea, input[type]:not([type=submit]):not([type=button]), select{
		background: white !important;
		color: $color-01 !important;
	}
	
	 .imj_loginFormDisplay input[type=submit], button, .imj_submitButton, .imj_menuButton:hover, .imj_menuHeader:hover, .imj_cancelButton, .imj_resetButton{
		color: white !important;
	}
	
	.imj_simpleSearchButtonSubmit{
		background-color: $color-19 !important;
	}
	
	.imj_metaMenuItemSelect{
		background-color:  rgba(#fff,0)!important;
		color: $color-19 !important;
	}
	.imj_selectionInfoPanel .imj_menuHeader,.listActionMenuContentSection .imj_menuHeader, .imj_statusHeaderArea .fa{
		&:hover{
			color: $color-04 !important;
		}
	}
	.loader {
		border: 16px solid white;
		border-top: 16px solid $color-03;
	}
	.imj_detailList th a{
		background-color: #E6E6E6 !important;
	}

}
