// VARIOUS VARIABLES, which not match with other components
// IMPORTS, don't change the order of imports, because they are depends another
@import url("http://fonts.googleapis.com/css?family=Titillium+Web:300italic,400,200,200italic,300,600,400italic,600italic,700italic,700,900");
@import "../../default/sass/_combinedStyles.scss";

html body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

 
  @mixin font-style-links-grey {
    font-weight: 400;
    color: $color-03;
    &:hover {
      color: $color-04;
    }
  }

  @mixin font-style-links-green {
    color: $color-03;
    &:hover {
      color: $color-04;
    }
  }

  @mixin input-style {
    font-family: 'Titillium Web', Arial, Helvetica, Verdana, sans-serif !important;
    border: 1px solid $color-03;
    background: transparent;
	color: $color-01;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;

	&:hover {
	  color: $color-01;
	 }
    &:focus {
	  color: $color-01;
      border: 1px solid $color-01;
      outline: none;
    }
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      text-transform: uppercase;
      font-family: "Titillium Web", Arial, Helvetica, Verdana, sans-serif;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      text-transform: uppercase;
      font-family: "Titillium Web", Arial, Helvetica, Verdana, sans-serif;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      text-transform: uppercase;
      font-family: "Titillium Web", Arial, Helvetica, Verdana, sans-serif;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      text-transform: uppercase;
      font-family: "Titillium Web", Arial, Helvetica, Verdana, sans-serif;
    }
  }

  @mixin action-button {
	font-family: "Titillium Web",Arial,Helvetica,Verdana,sans-serif;
    border: none !important;
    background-color: $color-03;
    font-size: 13px !important;
    color: $color-01;
    height: 35px;
    padding: 5px 20px 5px 20px;
    border-radius: 2px;
    text-transform: uppercase;
    &:hover {
      background-color: $button-bgcolor-hover;
    }
	&::-moz-focus-inner { 
		border: 0; 
		padding: 0;
	}
  }
  
  @mixin action-button-grey {
    @include action-button;
    background-color: $color-13 !important;
    &:hover {
      background-color: lighten($color-13, 10);
    }
  }

  input {
    @include input-style;
  }
  
  textarea { 
   @include input-style;
   font-size:1em;
  }

  input[type="submit"] {
    @include action-button;
  }

  input[type="file"] {
    @include action-button;
  }
 
  input[type="radio"], input[type="checkbox"] {
    height: inherit;
  }

  select {
	  @include input-style;
	  background-color: transparent;
	  option { 
		background-color: white;
		color : black;
	}
   }
  .imj_paginator{
	  select{
		  padding: 0 !important;
	  }
	  
  }
  button {
    @include action-button
  }

  .imj_cancelButton, .imj_resetButton, .imj_submitButton , .plupload_button, .imj_disabledButton{ 
    @include action-button;
	margin: 0 1em 0 0;
	display: inline !important;
	height: auto !important;
	color: $color-01;
    &:hover {
	  color: $color-01;
    }
   }

  .imj_cancelButton, .imj_resetButton {
    background-color: $button-cancel-bgcolor !important;
    &:hover {
      background-color: $button-cancel-bgcolor-hover !important;
    }
  }
  
  .imj_disabledButton{
   background-color: lighten($color-13, 20) !important;
    &:hover {
      background-color: lighten($color-13, 30);
    }
  }

  .imj_submitPanel {
    display: inline-block !important;
	.imj_cancelButton, .imj_resetButton, .imj_submitButton , .plupload_button, .imj_disabledButton { 
		margin: 0 1em 0 1em !important;
	}
  }
  
  .imj_mdInput, .imj_mdInputLabel{
	float:left;
	clear: both;
	width:100%;
	font-size: 1em;
  }
	
  textarea.imj_mdInput {
	height:2.5em;;
	resize: vertical;
	width:100%;
  }

  .imj_modalDialogBackground {
    background: rgba($color-10, 0.6);
  }

 

  .imj_allContentWrapper{
		min-height: 100vh !important;
		margin-bottom: - ($footer-padding * 2 + $footer-height) !important;
		&:after{
			content: "";
			display: block;
		}
	}
  
  .imj_siteWrapper {
	min-height: 100% !important;
    border: none;
    margin-bottom: 0;
	min-width: 10em;
	 @media screen and (max-width: 70em) {
		 max-width : 100% !important;	
	}
	
    .imj_logo {
      background-color: $color-10;
      background-position-y: center;
	  background-position-x: 20px;
      padding: 5px 10px 0px 10px;
	  width: 10em;
	  //background-size: contain;
	  height: 40px;
	  padding: 10px 20px 10px 10px;
	  @media screen and (max-width: 40em) {
		  padding: 0;
		  margin: 0;
		  width: 8em;
		  background-size: contain;
	  }
    }

    .imj_siteHeader {
      padding: 0;
	  margin-bottom: 10px;
	  @media screen and (max-width: 40em) {
		    margin-bottom: 2px;;
	  }
      .imj_metaMenuStandardSingleLine {
		.imj_metaMenuItemSelect{
				font-weight: 400;
				color: $color-03;
				text-transform: uppercase;
				font-size: 1em;
				border: none;
				padding: 5px 0px 5px 10px;
		}
		@media screen and (max-width: 40em) {
		  padding: 0;
		  margin: 0;
		  font-size: 0.6em;
		  
		 
		  .imj_metaMenuItem{
			  padding: 0;
			  margin: 0;
		  }
		}
        margin: 0;
        height: 40px;
        max-width: 70%;
        width: inherit;
        float: right;
        padding: 10px 20px 10px 10px;
        background: $color-10;
        
		.imj_metaMenuItemsAlign {
          //background-color: $color-10;
          float: left;
          margin-top: 10px;
		  vertical-align: text-top;
		 

          a {
            @include font-style-links-grey;
            text-transform: uppercase;
            position: relative;
            margin-left: 1em;
          }

          .imj_metaMenuSeparator {
            width: 0;
            margin: 0;
            padding: 0;
          }

          input {
            @include input-style;
           vertical-align: baseline;
			@media screen and (max-width: 60em) {
			  font-size: 0.9em;
			   width: 5em;
			}
          }

          input[type="submit"] {
            @include action-button;
            width: auto;
            position: relative;
            top: 0;
			vertical-align: baseline;
			height: 100%;
			@media screen and (max-width: 60em) {
			  font-size: 0.8em !important;
			}
          }

        
		select {
		  text-transform: uppercase;
		  cursor: pointer;
		  margin: 0;
		  -webkit-appearance: none;
		  -moz-appearance: none;	
		  &::-ms-expand {
			display: none;
			}
		}
        }
      }

      .imj_siteHeaderMenuSearchSection {
        height: 40px;
        padding: 10px 20px 10px 20px;
        background-color: $mainmenu-item-bgcolor;
        width: inherit;
        margin-top: 10px;
		@media screen and (max-width: 40em) {
		  margin-top: 0px;
		  padding: 0px 20px 0px 20px;
		  font-size: 0.8em;
		}

        .imj_mainMenuStandardItem {
          background: none;
          margin-right: 1.1em;
          margin-top: 10px;
          a {
            @include font-style-links-grey;
            font-weight: 600;
          }
        }

        .imj_active {
          a {
            color: $color-03;
          }
        }

        .imj_mainMenuStandard {
          padding: 0;
		  .imj_mainMenuStandardItem{
			  padding: 0;
		  }
        }
		
		@media screen and (max-width: 40em) {
			.imj_simpleSearchLinks{
				display: none;
			}
			}
		.imj_simpleSearchLinks{
			float: right;
			@media screen and (max-width: 50em) {
				display: none !important;
			}
			@media screen and (min-width: 40em) {
				.imj_simpleSearchLinkAdvancedsearch {
					margin-left: 0.8em;
					white-space: nowrap;
					display: inline-block;
					position: relative;
					top: 10px;
					font-size: 1.2em;
					}
			}
		}
		
		.imj_mainMenuStandard{
			float:left;
		}
		.imj_mainMenuStandardItem{
				
		}
      
	  
	    .imj_simpleSearch {
			padding: 0;
			margin: 0 0 0 -30px;
			//max-width: 70em;
			float: right;
			position: relative;
			width: 35%;
			min-width: 15em;
			
			.imj_overlayMenu {
				padding: 0;
			}
			.imj_menuSimpleSearch{
				width: calc(100% - 55px) !important;
			    left: 0;
				margin-top: 2.54em;
				font-size: 1em;
				-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				box-sizing: border-box;         /* Opera/IE 8+ */
			}
		  
          .imj_simpleSearchInput {
            @include input-style;
            border-radius: 2px 0 0 2px;
            height: 35px;		
			float: left;
			width: calc(100% - 55px);
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;  
			
          }
         /* &::before {
            content: "\f002";
            font-size: 1.4em;
            font-family: 'fontAwesome';
            color: darken($color-01, 20);
            left: 35px;
            top: -15px;
            position: relative;
          }*/
          .imj_simpleSearchButtonSubmit {
            @include action-button;
			float: right;
          }
        }
      }

    }

	.imj_statusHeaderArea{
		padding : 0.9em 3%;
		margin:0;
		height:0;
		position:relative;
		float:right;
		right: 3%;
		.imj_menuBody{
			white-space: nowrap;
		}
		.imj_listDottedSeparator{
			border-top: 1px dashed #292929; 
			padding: 0.5em 1em
		}	
	}
	
    .imj_siteContentHeadline {
      background-color: $color-10;;
      padding-left: 20px;
	  margin: 0;
	  min-width: 100%;
	  h1{
		  font-size: 140%;
	  }
	  &:empty{
		  display:none;
	  }
    }

    #actionsMenuArea {
	  float:left;
	  width:100%;
      background-color: $color-10;
      margin-top: 0;
      padding: 10px 20px 10px 20px;
      p, a, span {
        font-size: 1.2em;
      }
	  &:empty{
		  display:none;
	  }
	  
	  @media only screen and (max-width: 40em) {
		  .imj_menuButton{
			   padding: 0;
			   margin-right: 2px;
			   span{
				  font-size: 0.9em;
			   }
		  }
		}	
	
      .imj_contentMenu {
        margin: 0;

        .imj_contentMenuItem {
          font-weight: 600;
          &:hover {
            background: transparent;
          }
        }
      }

      .imj_contentSubMenu {
        width: 96%;
        padding: 0;
        height: 15px;
        border-bottom: 1px solid $color-03	;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 20px;
      }
    }

    .imj_mainContentWrapper {
	  height: 100%;
	  min-height: 100%;
      width: 100%;
      padding: 20px;
      margin-top: 0;
      padding-bottom: 2em;
	  background-color: $color-10;
	  margin-bottom: 0px;
	  overflow: inherit;
	  

      p, a, span, ul, label {
        //font-size: 1.2em;
        //line-height: 1.3em;
      }

      hr {
        border-style: none;
        width: 100%;
        height: 1px !important;
        background: $color-01;
        border-width: 1px;
      }

      h3 {
        padding-left: 0 !important;
        font-size: 1.3em;
        line-height: 1.4em;
        font-weight: 600;
      }
	  
	  .imj_paginator {
		background-color: rgba(#fff,0);
		font-size: 110% !important;
		width:96%;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
        //padding-top: 20px;
        border-top: 1px solid $color-03;
		

        &:first-of-type {
          border: none;
          margin-top: 0;
          padding-top: 10px;
        }

        input {
          padding: 0;
          height: 15px;
          width: 30px;
        }
        .imj_singlePageBrowser {
          input {
            width: inherit;
            height: inherit;
            padding: 0 1em;
          }
          .imj_currentPageNumber {
            color: $color-01;
          }
          .imj_separator {
          }
          .fa {
            color: $color-03;
            &.imj_deactivated {
              color: $color-01;
              &:hover {
                color: $color-01;
              }
              cursor: default;
            }
            &:hover {
              color: $color-10;
            }
            cursor: pointer;
          }
          input[type="submit"] {
            &:hover {
              background: transparent;
            }
          }
        }
        .imj_rangeSelector {
          .fa {
            color: $color-03;
            &:hover {
              color: $color-01;
            }
            cursor: pointer;
          }
		  .disabled{
			  color: $color-01;
		  }
        }
      }

      /// ADMIN - PAGES

      .imj_adminPanel{
        .imj_metadataLabel{
          line-height: 18px;
        }
        .imj_admindataLabel{
          line-height: 18px;
          span{
            line-height: 18px;
          }
          label{
            line-height: 18px;
          }
        }
      }


      .imj_setupConfig {
        .imj_config_headline {
          width: inherit;
        }
        .imj_administrationTiledList {
          width: 100%;
        }

        .imj_editButton {
          margin-right: 10px;
        }

        .imj_adminPanel {
          width: 97%;


          .imj_content {
            .imj_admindataSet {
              margin-top: 10px;
            }
          }
          .imj_admindataLabel {
            //font-size: 16px;
            padding-right: 20px;
            width: 30%;
          }
          .imj_admindataValue {
            width: 94%;
            padding-left: 0;
            margin-left: 0;
            max-width: 67%;

            table {
              tr {
                td {
                  padding-right: 20px;
                }
              }
            }

          }
          input[type="text"], input[type="select"], input[type="password"] {
            @include input-style;
            height: 35px;
          }
          .imj_fileTypeConfig {
            .imj_submitButton {
              @include action-button;
              height: 25px;
              padding: 12px 20px 4px 20px !important;
            }
          }
          .imj_fileTypeConfigList {
            input[type="text"] {
              height: 25px;
              margin-right: 10px;
              margin-top: 10px;
            }
            tr {
              td {
                padding-right: 20px;
              }
            }
          }
        }
      }

      .imj_administrationTiledList {
        width: 100%;
        padding: 0;
        .imj_listHeader {
          width: 100%;
          display: inline-block;
        }
        .imj_headline {
          font-size: 18px;
          color: $color-01;
          h2 {
            font-size: 18px;
            color: $color-01;
          }
        }
        .imj_submitButton {
          @include action-button;
        }
		 .imj_listBody{
			  text-align: left;
		  }
      }

      .imj_userConfig {
		width: initial;
		padding-left: 0 !important;
		clear: both;
		
        .imj_userGlobalInformation {
          .imj_admindataValueEntry {
            textarea {
              margin-bottom: 10px;
            }
          }
          
		}
        .imj_organisation {
          .imj_admindataValue {
            width: inherit;
            max-width: 73% !important;
          }
          .imj_inlineButtonGroup {
            .fa {
              padding: 0;
              padding-right: 10px;
              margin: 0;
              color: $color-10;
              font-size: 18px;
              background-color: transparent;
              &:hover {
                background-color: transparent;
              }
            }
          }
        }
        .imj_admindataSetEdit {
          .imj_headline {
            margin-bottom: 10px;
          }
          .imj_admindataValue {
            margin-left: 0;
            min-width: 75%;
            .imj_admindataValueEntry {
              width: 60% !important;
            }
            .imj_admindataSet {
              .imj_admindataLabel {
                .imj_submitPanel {
                  margin: 0;
                  padding: 0;
                  margin-top: 10px;
                  .imj_cancelButton {
                    @include action-button-grey;
                    margin: 0;
                    float: left;
                    height: 25px;
                    padding: 10px 20px 0px 20px;
                  }
                  .imj_submitButton {
                    @include action-button;
                    height: 25px;
                    padding: 10px 20px 0px 20px;
                  }
                  .imj_editButton {
                    margin-right: 20px;
                  }
                }
              }
            }
          }
          .imj_submitPanel {
            margin: 0;
            padding: 0;
            margin-top: 10px;
            .imj_cancelButton {
              @include action-button-grey;
              margin: 0;
              float: left;
              height: 25px;
              padding: 10px 20px 0px 20px;
            }
            .imj_submitButton {
              @include action-button;
              height: 25px;
              padding: 10px 20px 0px 20px;
            }
            .imj_editButton {
              margin-right: 20px;
            }
          }
        }


        .imj_admindataSet {
          .imj_headline {
            margin-bottom: 20px;
          }
        }
        .imj_simpleSearch {
          padding: 0;
          .imj_searchInfoText {
            margin-top: 10px;
            margin-right: 10px;
          }
          .imj_simpleSearchInput {
            @include input-style;
            border-radius: 2px 0 0 2px;
            height: 23px;
            padding-left: 10px;
          }
          .imj_simpleSearchButtonSubmit {
            @include action-button;
          }
          .imj_cancelButton {
            @include action-button-grey;
            height: 25px;
            padding: 10px 20px 0 20px;
            margin-top: -5px;
          }
        }
        .imj_cancelButton {
          display: inline-block;
          //padding-top: 9px;
          //padding-bottom: 8px;
        }
        .imj_editButton {
          @include action-button;
          padding: 7px 20px 8px 20px;
        }
      }

      .imj_adminPanel {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
        line-height: 16px;
        .imj_headline {
          font-size: 18px;
          color: $color-01;
          h2 {
            font-size: 18px;
            color: $color-01;
          }
        }
        &.imj_userConfig {

          .imj_simpleSearch {
            input[type="text"] {
              @include action-button;
            }
          }

          .imj_headline {
            width: 100%;
            h2 {
              color: $color-01;
              font-size: 18px;
            }
          }
          .imj_submitPanel {
            width: 101%;
            padding-left: 20px;
            padding-right: 20px;
          }
          .imj_admindataValue {
            width: inherit;
            max-width: 74%;
            .imj_admindataValueEntry {
              width: inherit;
              .imj_admindataEdit {
                width: inherit;
              }
            }
          }
          .imj_content {
            padding-bottom: 20px;
            height: inherit;
            min-height: inherit;
            display: block;
            form {
              p {
                width: 100%;
                textarea {
                  width: 40%;
                }
                select {
                  margin-left: 20px;
                }
              }
              a {
                @include action-button;
                padding: 7px 20px 8px 20px;
              }
            }
            .imj_adminEditPanel {
              margin-top: 25px;
              .imj_cancelButton {
                @include action-button-grey;
                height: 100%;
                padding: 7px 20px 8px 20px;
              }
              a.imj_cancelButton {
                @include action-button-grey;
                height: 25px;
                padding: 12px 20px 3px 20px;
              }
            }
          }
        }
      }
      .imj_storageInformation {
        .imj_admindataLabel {
          width: initial;
        }
        .imj_headline{
          h2{
           
          }
        }
      }

      .imj_maxWidth {
        padding: 0;
      }


     
      .imj_mainContentWrapper {
        padding-left: 0;
        height: 100%;
        background: transparent; // hack for register site
        overflow-y: hidden;
      }

     
     

      #imj_ajaxWrapper {
        .imj_descriptionArea {
          .imj_metadataLabel {
            font-size: 1.2em;
          }
          table {
            td {
              padding-right: 20px;
            }
          }
        }
        .imj_sectionHeadline {
          .imj_inlineButtonGroup {
            a {
              font-size: 1.1em;
            }
          }
        }
        .imj_authorMetadataSet {
          .imj_sectionHeadline {
            .imj_inlineButtonGroup {
              a {
                font-size: 0.9em;
              }
            }
          }
          .imj_organisation {
            .imj_sectionHeadline {
              .imj_inlineButtonGroup {
                a {
                  font-size: 1.1em;
                }
              }
            }
          }
        }
      }

      .imj_userConfig {
        .imj_admindataSet {
          .imj_admindataLabel {
            font-size: 1.2em;
          }
          &:first-child {
            .imj_admindataLabel {
              font-size: 1.07em;
            }
          }
        }
        .imj_adminEditPanel{
          margin-top: 20px;
        }
      }

      .imj_helpPage {
	    width: 96%;
        padding-left: 10px;
        a {
          font-size: 1em;
        }
        span {
          font-size: 1em;
        }
        h2, h3 {
          font-weight: 600;
          font-size: 140%;
        }
        ul {
          font-size: 14px;
        }
      }

      .imj_descriptionArea {

        h4 {
          padding-left: 0;
          font-size: 1.2em;
          font-weight: 600;
        }

        select {
          @include input-style;
          margin-top: 10px;
          height: 35px;
        }

        .imj_collectionNotifications, .imj_collectionLogoUpload {
          h4 {
            font-size: 1.4em;
          }
          label {
            font-size: 1.2em !important;
          }
        }

        input[type="text"] {
          width: 400px;
          height: 25px;
          min-width: inherit;
          &.imj_metadataValue {
            height: 35px;
            width: 422px;
            min-width: inherit;
          }
        }
        textarea {
          height: 70px;
          width: 422px;
          min-width: inherit;
        }

        .imj_metadataSet {
          .imj_metadataLabel {
            width: 190px;
            min-width: inherit;
          }
        }

        .imj_admindataSet {
          .imj_admindataLabel, .imj_metadataLabel {
            width: 200px;
          }

          .imj_admindataValue {
            margin-left: 0;
            padding-left: 0;
            textarea {
              width: 416px;
            }
          }
        }

        .imj_organisation {
          padding-left: 0;
          .imj_admindataLabel, .imj_inlineButtonGroup {
            padding-left: 15px;
          }
        }

        .imj_sectionHeadline {
          margin-top: 5px;
        }

        .imj_collectionLogoUpload {
          .imj_metadataValue {
            margin-left: 0;
          }
          .imj_fileUploadContainer {
            border: none;
          }
        }
      }

      .imj_upload {
		width: 96%; 
        .id_tabs {
          li:first-child {
            padding-left: 0;
          }
        }
        .plupload_content {
          .plupload_filelist_header, .plupload_filelist_footer {
            .plupload_file_name {
              padding-left: 0;
            }
          }
          .plupload_filelist {
            width: calc(100% - 40px);
            border: 1px dashed $color-03;
            padding: 15px;
            margin-top: 15px;
            margin-bottom: 15px;
          }
        }
        .plupload_filelist_footer {
          background: transparent;
          .plupload_button {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
        .imj_uploadUrlReference {
          width: 90%;
          height: 100px;
        }
        label {
          margin-left: 0;
        }
      }

      .imj_mediaEntryDetailPage {
        .imj_paginator {
          font-size: 0.8em;
        }
        .imj_simplePageBrowser {
          margin-right: 60px;
        }
        .imj_mediaDisplayContainer {
          width: inherit
        }
        .imj_listHeader {
          width: initial;
          margin: 0 auto;
          display: table;
        }
        .imj_metadataList {
          width: 100%;
          margin-left: 0;
          .imj_infodataWrapper {
            span.imj_infodataSet {
              .imj_infodataLabel {
                font-size: 1em;
              }
              .imj_infodataValue {
                font-size: 1em;
                margin-left: 0;
                padding-left: 0;
                a {
                  font-size: 1em;
                }
              }
            }
            div.imj_infodataSet {
              .imj_infodataLabel {
                font-size: 1.2em;
              }
              .imj_infodataValue {
                margin-left: 0;
                padding-left: 0;
                .imj_optionList {
                  li {
                    a {
                      font-size: 1em;
                    }
                  }
                }
              }
            }
          }
        }

        .imj_metadataWrapper {
          .imj_globalMetadataSet {
            font-size: 1.1em;
            .imj_metadataValue {
              span, a {
                font-size: 1.1em;
              }
            }
          }
          .imj_headline {
            font-size: 1.2em;
            a {
              font-size: 1em;
            }
          }
          .imj_submitPanel {
            display: inline-block;
            a {
              font-size: 1.2em !important;
              height: 20px !important;
              display: inline;
              padding: 5px 20px 5px 20px;
            }
          }
        }
      }

      .imj_fileUploadContainer {
        border: 1px dashed $color-03;
      }

      .imj_administrationTiledList {
        a {
          font-size: 0.9em;
        }
      }

      .imj_collectionEntryPage {
        .imj_headline {
          width: 100%;
          a {
            font-size: 1em;
            line-height: 1em;
          }
        }
        #description {
          padding-top: 20px;
          .imj_entryPageTitle, .imj_itemAuthorPanel, .imj_entryPageDescription, pre {
            font-size: 1.4em;
          }
        }

        .imj_metadataSubPanelItem {
          font-size: 1.4em;
        }
        span.imj_infodataSet {
          font-size: 1em;
        }

        .imj_entryPagePreviewTiledList {
          a {
            line-height: 1em;
          }
          .imj_headline {
            margin-top: 15px;
          }
          .imj_thumbnailsPreview {
            .imj_tileItem {
              width: 148px;
            }
          }
        }

        .imj_infodataValue {
          a {
            font-size: 1em;
          }
        }
        .imj_entryPagePreviewTiledListLink {
          font-size: 1em;
          width: 100%;
          .fa {
            display: none;
          }
        }
      }

      .imj_bibliographicList {
        h3 {
          font-size: 95%;
        }
		.imj_bibliographicListItem{
			  .imj_itemContent{
				  width: 60% !important;
				  margin-left: 2%;
			  }
			  .imj_imageStack{
				  margin: 1em 0;
				  height: 8em;
				  width: 8em;
				  &::before{
					height: 8em;
					width: 8em;
				  }
				  &::after{
					height: 8em;
					width: 8em;
				  }
			  }
			  .imj_previewArea{
				  min-width: 9em;
				  max-width: 9em;
			  }
		  }
      }


      .imj_pageMessageArea {
        background-color: transparent;
        padding: 0;
      }

      .imj_searchUnit {

        input, select {
          @include input-style;
          height: 35px;
        }

        input[type="checkbox"],input[type="radio"] {
          margin: 5px;
          height: inherit;
        }

        .imj_searchDetails {
          width: 100%;
          margin-left: 83px;

          table {
            margin-top: 10px;
          }

        }

        .imj_submitPanel {
          display: inline-block;
          .imj_inlineButtonGroup {
            margin-left: 0;
          }
        }

        .imj_logicalDetailConnector {
          margin-left: 83px;
          margin-bottom: 10px;
        }

        .imj_searchDetails {
          .imj_logicalSearchGroup {
            width: 9%;
            &:first-of-type {
              margin-right: 1%;
            }
            select {
              width: 100%;
            }
          }
        }

        .imj_searchInput {
		  width: 20em;
          span, input {
            height: 23px;
            margin-right: 20px;
			
          }
        }

        .imj_searchSelectbox {
          width: 20%;
          margin-right: 20px;
          select {
            width: 100%;
          }
          .imj_searchDetails {
            margin-left: 0;
          }
        }

        .imj_searchStatement {
          width: 20%;
          margin-right: 20px;
          select {
            width: 100%;
          }
        }

      }

      #registerArea {
        input[type="submit"] {
          @include action-button;
        }
        font-size: 1.2em;
        h2 {
          width: 100%;
        }

        .imj_headline {
          display: none;
        }

        .imj_registerSteps {
          width: 180px;
          .imj_active {
            color: $color-03;
          }
        }
      }

	  .itemsArea{
	 	max-width : 96%;
	  }
	 
	  .imj_actionMenuArea{
		max-height: 40px;
	  }
	  
      .imj_mediaEntryDetailPage {
        .imj_paginator {
          border: none;
          margin-top: 0;
          padding-top: 10px;
        }
      }

      .imj_welcomeInfo, .imj_tabContent {
        min-height: inherit !important;
		padding:0;
		font-size: 110%;
        li.ui-state-active {
          background: transparent;
          a {
            color: $color-01;
          }
        }
      }

      .imj_listBody {  
		//font-size: 100%;
        padding-bottom: 20px;
        //border-bottom: 1px solid $color-01;

        .imj_techdataEntry {
          overflow-x: inherit;
        }

        .imj_infodataValueEntryEmbed {
          width: 100%;
        }

        span.imj_optionSet {
          line-height: 1em;
          input {
            margin-left: 8%;
          }
          label {
            width: 100%;
            //font-size: 130%;// 14px;
            overflow: hidden;
            max-width: 70%;
            text-align: left;
            padding-left: 10px;
          }

          .imj_optionLabel {
            max-width: 70%;
          }
        }

        .imj_listItem {
          dl {
            padding-left: 0;
          }
        }

        .imj_tileItem {
			width: auto;
			max-width: 45%;
		   &:hover{
			   border-color: blue;
		   }
		   img{
				/*width: 100% !important;
				height: auto;*/
				 border:none;
		   }
		   .imj_tileThumbnailArea{
			   
		   }
          .imj_tooltip {
            box-shadow: none;
            background: $color-13;
            border-radius: 2px;
            border: 1px solid $color-14;
            padding: 10px;
		
            a {
              @include font-style-links-green;
            }
          }
        }

        .imj_headline {
          margin-right: 20px;
        }

      }

      .imj_headline {
        padding: 0;
        float: left;
        text-align: left;
        background: transparent;
        h2 {
          text-align: left;
          padding-left: 0;
          color: $color-03;
        }
      }

      .imj_content {
        padding: 0;
      }

      .imj_config_headline {
        border: none;
      }

      .imj_itemActionArea {
        margin-top: 15px;
        ul {
          li {
            padding-left: 0 !important;
            padding-right: 20px !important;
            a {
              @include font-style-links-green;
              text-align: left;
            }
          }
        }
      }

      .imj_metadataSubPanel {
        padding-left: 0;
      }

      .imj_tileThumbnailArea {
        border-radius: 5px;
        background: transparent !important;
		 border: 4px solid transparent;
		img{
			//width: 97%;
		}
        &:hover {
          background: transparent;
          border: 4px solid $color-03;
        }
      }

      .imj_userConfig {
        .imj_listBody {
          border: none;
          padding-bottom: 0;
        }
		.imj_submitPanel{
			width: 100% !important;
		}
        select {
          @include input-style;
          height: 35px;
        }
      }

      .imj_collectionEntryPage {
        .imj_headline {
          .imj_entryPagePreviewTiledListLinkArrow {
            margin: 0;
          }
        }
      }

      .highlight_area:hover {
        background: $color-13;
      }
    }
	
    .imj_listHeader {
      .imj_active {
        background: transparent;
        color: $color-03;
      }
      a {
        @include font-style-links-green;
        &:hover {
          background: transparent;
        }
      }
    }
	

     .imj_message{
		padding: 5px 20px 5px 20px;
		background-color: #6CAE2F; /* Red */
		color: white;
		margin-bottom: 5px;
		opacity: 1;
		transition: opacity 0.6s;
	}
	
	.imj_messageError{
		background-color: #D80000; /* Red */
	}
	
	.imj_messageAreaCloseBtn {	
		margin-left: 15px;
		color: white;
		font-weight: bold;
		float: right;
		font-size: 1em;
		line-height: 20px;
		cursor: pointer;
		transition: 0.3s;
	}

    .imj_searchQueryDisplay {
      margin: 0 0 10px 0;
      padding: 5px 25px 5px 25px !important;
	  float: left;
	  background-color: $color-10;
      width: 99%;
      .imj_submitButton {
        display: inline;
      }
	  .imj_searchQueryText{
		color: $color-03;
	  }
    }

    .imj_menuBody {
      border: 1px solid $color-14;
	  background-color: $color-13;
	 
      li {
        &:hover {
          background-color: $color-13;
        }
      }
      span {
        margin: 0.7em 0 !important;
		font-size: 0.9em !important;
      }
    }
	
	.imj_tiledMediaList > .imj_listBody{
		margin: 0;
	}

    .imj_invisible {
      display: none;
    }

    .imj_siteFooter {
      width: initial;
      padding:  $footer-padding !important;
      left: 0;
      bottom: 0;
      height: $footer-height;
      background-color: $color-10;
	  .imj_poweredby_institution {
		margin-top: 0;
	  }
    }
  }
}

.imj_metadataSet{
	.imj_metadataValue{
		margin-left: 0;
	}
} 

.imj_shareForm{
	padding:0;
}

.imj_rightsTable{
	max-width: 80em;
}

.imj_moveItemsDialogBox{
	position: fixed;
	top: 5em;
	font-size: 1em;
	width: 40em;
}
.imj_shareDialogBox{
	position: fixed;
	font-size: 1em;
	max-width: 60%;
	min-width: 60%;
}

.uploadDialog{
	overflow: hidden !important;
	.imj_metadataSet{
		font-size: 1em !important;
	}
}
.uploadDialogHeadArea{
	height: 8%;
	margin-bottom: 1em;
	position: initial !important;
}
.uploadDialogDropArea{
	cursor: pointer;
}
.uploadFileListEntry{
	line-height:normal;
	font-size: small;
}
.imj_dragOver{
	border: 2px dashed $color-03;
}

.imj_selectionInfoPanel{
	margin: 0;
}

.imj_menuButton{
	font-size: 14px !important;
	margin: 0 20px 0 -5px;
	cursor: pointer;
	padding: 5px 5px 5px 5px !important;
	color: $overlaymenu-header-color;
	&:hover {
		color: $overlaymenu-header-color-hover;
		background-color: $color-03;
		border: none;
	}
}

// collection about
.collectionAbout{
	width: 80%;
	font-size: 1em;
	padding-bottom: 10px;
}
.collectionAboutTitle{
	font-size: 140%;
	font-weight: bold;
	@media only screen and (max-width: 40em){
		  font-size: 1em;
	}
	
	letter-spacing: 0.045em;
	line-height: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}
.collectionAboutAuthor{
	text-overflow: ellipsis;
	max-width: 80%;
	line-height: 1.4em;
	 font-size: 1em;
	white-space: nowrap;
	overflow: hidden;
	float:left;
}
.collectionAbout span{
	margin-right: 5px;
}
.collectionAboutHidden{
	width: 90%;
	display:none;
}

// Select metadata/statement
.metadataSelector{
	text-align: left;
}
.selectMd {
	position: relative;
	display: inline-block;
	input{
		box-sizing: border-box;
		margin:  6px 8px !important;
		width: 90% !important;
	}
	button{
		margin: 0;
		width:100%;
	}
}


// Overlay
.imj_overlayMenu {
	display: inline-block;
	padding: 0.125em 0.25em;

	.imj_menuHeader {
		text-align: left;
		color: $overlaymenu-header-color;
		cursor: pointer;
		
		.selectAll:before{
			font-family: FontAwesome;
			content: "\f00c";
			padding-right: 0.1em;
		}
		
		.selectNone:before{
			font-family: FontAwesome;
			content: "\f00d ";
			padding-right: 0.1em;
		}
		
	}
	
	.imj_menuText {
		text-align: left;
		line-height: 175%;
		padding: 0.5em 1em;
		display: block;
	}
	
	.imj_menuSimpleSearch{
		width: auto;
		min-width: 0;
		li{
			border-top: 1px dashed $color-14;
			padding: 0.5em 1em;
			text-transform: uppercase;
			text-overflow: ellipsis !important;
			white-space: nowrap !important;
  			overflow: hidden !important;
			cursor: pointer !important;
			&:hover > a{
				color: $color-01;
			}
		 }
		.imj_simpleSearchInput {
			width: 200em !important;
		}
	}
	.imj_simpleSearchInput {
		text-overflow: ellipsis;
	}
	

	.imj_menuBody, .imj_menuSimpleSearch{
		display: none;
		position: absolute;
		background-color: $overlaymenu-bgcolor;
		border: 1px solid $color-14;
       
	}
	
	&:hover {
		.imj_menuHeader {
			color: $overlaymenu-header-color-hover;
		}
		> .imj_menuBody {
			display: block;
			z-index: 100;
		}
	}
	
	.imj_criticalItem {
		&:hover {
			background-color: $overlaymenu-bgcolor-critical;
		}
	}

	.imj_listItemSeparator {
		padding-top: 0.181818em;
		border-top: $overlaymenu-border-horizontal-separator;
	}

	li {
		line-height: 175%;
		padding: 0.272727em 1em;	
	}
	.hovered{
		 background-color: $color-11;
		 &:hover {
			background-color: $color-11 !important;
		}
   }	
}

.imj_modalDialogBox {
    .imj_confirmationText {
      font-size: 1em;
    }
	.imj_dialogReasonText {
		max-width: 90%;
	}
	background-color: color-13;
	font-size: 1em;
	border: 1px solid $color-14;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	top: 25%;
	width: 70em;
	max-width: 90%;
	max-height: 50%;
	overflow-y: auto;
	overflow-x: hidden;
}
  
.show{
	display: block;
}

.loginArea{
	width: 80%;
}

small {
	font-size: smaller;
}

.imj_mediaWithdrawn {
	text-align: left;
}

// Upload modal
.uploadPanel{
	position: fixed;
	top: 50%;
	left: 50%;
	font-size: 2em;
	z-index: 1001;
	display: none;
	width: 30em;
	height: 5em;
	margin-top: -9em;
	margin-left: -15em;
	background-color: $color-13;
	text-align: center;
	vertical-align: middle;
	padding-top: 3em;
}

.uploadDragAndDropTitle{
	width:100%;
	text-align: center;
	padding: 2em;
}
  
// Edit selected
.edit_selected_table_wrapper{
	width: 100%;
	overflow: auto;
	min-height: 50em;
}
.edit_selected_table{
	border-collapse: collapse;
	border: 5px solid $color-11;
	table-layout: fixed; 
}
.edit_selected_table {
	border-collapse: collapse;
	border: 3px solid $color-11;
	table-layout: fixed;
	margin: 2px;
}
.edit_selected_table textarea, .edit_selected_table input[type]:not(.combobox) {
	borders: 1px;
	margin-bottom: 0.5em;
	max-width: 70% !important;
}
.edit_selected_table td{
	vertical-align: middle;
	border: 1px solid $color-11; 
	max-width: 12em;
	min-width: 12em;
	padding:0 1em;
	height: 4em;
}
.edit_selected_table_button{
	width: 100%;
	text-align: center;
	float: left;
}
.edit_selected_table_button label{
	text-align: left;
}
.edit_selected_table th{
	vertical-align: middle;
	margin:0;
	text-align: center;
	background-color: $color-11;
	max-width: 15.6em;
	min-width: 15.6em;
	overflow-wrap: break-word;
}
.edit_selected_table_icon{
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.editSelectedWrapper {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: darken($color-13, 1%);
	z-index: 100;
	padding-top: 1em;
	overflow-x: hidden;
}
.editSelectedHeader{
	margin: 1em;
}
	
// Loader
.loaderWrapper{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	background: $color-09;
	z-index: 1000;
	height: 100%;
	width: 100%;
	position: fixed;
	overflow: hidden;
	opacity: 0.5;
	display: none;  
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 10001;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	border: 16px solid $color-11;
	border-radius: 50%;
	border-top: 16px solid $color-03;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	display: none;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

// AUTOCOMPLETE
.ui-menu-item{
	background-color: $color-13 !important;
	cursor: pointer;
}

.ui-autocomplete{
	border: 1px solid $color-14 !important;
	background-color: $color-13 !important;
}

// DATEPICKER
.ui-datepicker{
	border: 1px solid $color-14 !important;
	background-color: $color-13 !important;
}

.ui-datepicker-calendar{
	background-color: $color-13 !important;
}

#ui-datepicker-div{
	display:none;
}

// ICONS
.fa-chevron-right:before {
  content: "\f105" !important;
}

.fa-chevron-left:before {
  content: "\f104" !important;
}

.fa-step-forward:before {
  content: "\f101" !important;
}

.fa-step-backward:before {
  content: "\f100" !important;
}

.fa-list-alt:before {
  content: "\f00b" !important;
}