// VARIOUS VARIABLES, which not match with other components
// IMPORTS, don't change the order of imports, because they are depends another
@import url("http://fonts.googleapis.com/css?family=Titillium+Web:300italic,400,200,200italic,300,600,400italic,600italic,700italic,700,900");
@import "_brightVariables";
@import "../../imeji/sass/_combinedNewStyle.scss";

html body {
	height: auto !important;
	background: url("../images/hg_pic_v2.jpg") no-repeat center top fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
	.imj_navigation{
		background-color: $header-bgcolor !important;
	}
	
	.imj_poweredby_software_image {
		background: url("../images/imeji_logo_black.png");
		background-size: contain;
		background-repeat: no-repeat;
		img{
			visibility:hidden
		}
	}
	
	 .imj_loginFormDisplay input[type=submit], button, .imj_submitButton, .imj_menuButton:hover, .imj_menuHeader:hover, .imj_cancelButton, .imj_resetButton{
		color: white !important;
	}
	
	.imj_selectionInfoPanel .imj_menuHeader, .imj_statusHeaderArea .fa{
		&:hover{
			color: $color-04 !important;
		}
	}
	
}

 